@media only screen and ( max-width: 992px ) {
  .brand-logo {
    left: 0% !important;
    transform: translateX(0) !important;
  }
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Change the fixed sidenav indicator color to fit the theme color */
.table-of-contents a.active,
.table-of-contents a:hover {
  border-color: #00897b;
}
